<div class="d-flex justify-content-center align-items-center">
    <form class="row w-75">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" passwordValidation >
        </div>
        <button type="submit" class="btn btn-primary"
            style="max-width: 100px; margin-left: auto; margin-right: 12px;">Confirmar</button>
    </form>
</div>